@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');


.App {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 160%;
  text-transform: uppercase;
  margin: 1%;
}

.Title {
  font-size: 360%;
  padding: 0%;
  margin-top: -4%;
  margin-bottom: -150px;
}

.Home {
  text-align: left;
}

.Nav {
  margin-bottom: 75px;
}



